/* style3.css*/

/* html,
body{
    height:100%;
    overflow-x:hidden;
} */

/*carousel*/ 
@media only screen and (max-width: 600px) {
    .carousel {
        padding-top:75px;
        height:250px;
    
        
     }
     .carousel-control-next{
         padding:0px;
     }
    }
    .container-fluid {
        padding: 0px;
    }
    
    #logo{
        color:blue;
    }
    #carousel{
        margin-left: 0%;
        margin-right: 0%;
        padding: 0px;
        height:600px;
        
    }
    .img{
        max-width: 100%;
    }
    #jumbotron-item{
        text-align: center;
        font-size: 20px;
        
        
    }
    
    
    /* for footer part*/
    .footer-main{
        width:100%;
        height:auto;
        margin:auto;
        background-color:brown;
        padding:20px 0px;
    }
    
    .footer-icon {
        width:100%;
        height:auto;
        margin:auto;
    }
    
    .footer-icon ul{
        margin:0px;
        padding:0px;
        text-align:center;
    }
    
    .footer-icon ul li{
        display:inline-block;
        width:50px;
        height:50px;
        margin:0px 10px;
        border-radius:100%;
        background:#e2dbdb;
    }
    
    .footer-icon ul li a{
        color:blue;
        font-size: 20px;
        display: block;
    }
    
    .footer-icon ul li a i{
        line-height: 50px;
    }
    
     .footer-menu1{
        width:100%;
        height:auto;
        margin:auto;
        margin-top: 30px;
    }
    
     .footer-menu1 ul{
        margin:0px;
        padding:0px;
        text-align:center;
    }
    
    .footer-menu1 ul li{
        display:inline-block;
        margin: 0px 20px;
    }
    
    .footer-menu1 ul li a{
        font-family:Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 600;
        color:#e2dbdb;
        text-transform: uppercase;
        text-decoration: none;
    }
        
    .footer-menu2{
        width:100%;
        height:auto;
        margin:auto;
        margin-top: 20px;
    }
    
    .footer-menu2 ul{
        margin:0px;
        padding:0px;
        text-align:center;
    }
    
    .footer-menu2 ul li{
        display:inline-block;
        margin: 0px 20px;
    }
    
    .footer-menu2 ul li a{
        font-family:Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 600;
        color:#e2dbdb;
        text-transform: uppercase;
        text-decoration: none;
    }
    
    .footer-menu2 ul li a:hover{
        color:#5ed3d3;
    }
    
    .footer-bottom{
        width:100%;
        height:auto;
        margin:auto;
        background: #914343;
        padding:10px;
    }
    
    .footer-bottom p{
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        text-align: center;
        font-weight: 600;
        letter-spacing: 1px;
    }
    
    .footer-bottom p a{
        text-decoration-color: beige;
        text-decoration: none;
        color:green;
    }
    
    .footer-bottom p a:hover{
            color: lightblue;
    }